<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.spring.mapper.AuthorityMapper">
	
	<insert id="save" parameterType="Authority">
		insert into tb_authorities(authorities_name,authorities_desc,status) values(#{authorityName},#{authorityDesc},#{status});
		<!-- insert into tb_authorities_resources(authorities_name,resources_name) values(#{authorityName},#{resourceName}) -->
	</insert>
	
	<insert id="saveResource" parameterType="Authority">
	<!-- 	insert into tb_authorities(authorities_name,authorities_desc,status) values(#{authorityName},#{authorityDesc},#{status}); -->
		insert into tb_authorities_resources(authorities_name,resources_name) values(#{authorityName},#{resourceName})
	</insert>
	
	<update id="update" parameterType="Authority">
		update tb_authorities set authorities_name=#{authorityName},authorities_desc=#{authorityDesc},status=#{status} where id=#{id};
		update tb_authorities_resources set resources_name=#{resourceName} where id=#{id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete tb_authorities,tb_authorities_resources from tb_authorities left join tb_authorities_resources on tb_authorities.authorities_name=tb_authorities_resources.authorities_name where tb_authorities.id=#{id};
	</delete>
	
	 <!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="findById" parameterType="int" resultType="Authority">
		 select tb_authorities.id id,tb_authorities.authorities_name authorityName,tb_authorities.authorities_desc authorityDesc,tb_authorities.status status,tb_authorities_resources.resources_name resourceName from tb_authorities left join tb_authorities_resources on tb_authorities.authorities_name = tb_authorities_resources.authorities_name where tb_authorities.id=#{id}
	</select>
	
	<select id="findByResourceId" parameterType="int" resultType="String">
		select resources_name resourceName from tb_resources where id=#{id}
	</select>
	
	<select id="findAll" resultType="Authority">
	   select tb_authorities.id id,tb_authorities.authorities_name authorityName,tb_authorities.authorities_desc authorityDesc,tb_authorities.status status,tb_authorities_resources.resources_name resourceName from tb_authorities left join tb_authorities_resources on tb_authorities.authorities_name = tb_authorities_resources.authorities_name
	</select>
	
	<select id="findAllResource" resultType="Authority">
		select id id,resources_name resourceName from tb_resources
	</select>
	
	<select id="findResource" resultType="Authority">
		select tb_authorities.id id,tb_authorities.authorities_name authorityName,tb_authorities.authorities_desc authorityDesc,tb_authorities.status status,tb_authorities_resources.resources_name resourceName from tb_authorities left join tb_authorities_resources on tb_authorities.authorities_name = tb_authorities_resources.authorities_name where tb_authorities.id=#{id}
	</select>
	
</mapper>